<div id="login" class="margins">
    <div id="content-login">
        <div id="profile-img"></div>
        <div id="content-input-login">
	        <strong class="text-image">Solicitud de Equipos ESCOM</strong><br><br>
	        <input type="text" ng-model="data.nit" placeholder="Usuario">
	        <input type="password" ng-model="data.password" placeholder="Contraseña">
	        <button class="button1" ng-click="login(data);">Ingresar</button>
	        <button class="button2" ng-click="register();">Regístrate</button>
        </div>
    </div>
</div>