/*Colors*/

@colorOrange : #fcc93d;
@colorButton1 : #fc0;
@colorButton2 : #f9f929;
@colorGreen : #009900;
@colorRed : #e25440;

/*URL's*/

@imag : "../img/";
@fonts : "../fonts/";

/*Fonts*/

@font-small : 12px;
@font-medium : 15px;
@font-big : 18px;
@font-extra-big : 21px;

@font-face {
   font-family: apple;
   font-style: normal;
   font-weight: normal;
   src: url("@{fonts}AppleGaramond-Bold.ttf");
}

@font-face {
   font-family: appleLight;
   font-style: normal;
   font-weight: normal;
   src: url("@{fonts}AppleGaramond-Light.ttf");
}

@font-face {
   font-family: DKblue;
   font-style: normal;
   font-weight: normal;
   src: url("@{fonts}DK Blue Sheep.otf");
}

/*Functions*/

.border(@radio: 10px){
	border-radius: @radio;
	-webkit-border-radius: @radio;
	-moz-border-radius: @radio;
}

.size(@width:100%,@heigth:100%){
	width: @width;
	height: @heigth
}

.image(@image,@width:100%,@height:100%,@postionx:center,@positiony:center){
   background-image: url("@{image}");
   width: 100%;
   height: @height;
   background-position: @postionx @positiony;
   background-repeat: no-repeat;
   background-size: @width @height;
}