@import "global";

/*Globals*/

body{
	background-color: black;
	padding: 10px;
	.size();
}

button{
	.size(60%,40px);
	background-color: @colorButtonBlue;
	.border(10px);
}

input{
	.size(80%,auto);
}

/*Login*/

.border-black{
	background-color: @colorOrange;
	.size(86%, 92%);
	position: absolute;
	margin-left:auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	.border(20px);
}

/***************************************/