<div id="request-machine">
    <select>
        <option selected disabled>Maquina a utilizar</option>
    </select>
    <select>
        <option selected disabled>Insumos a utilizar</option>
    </select>
    <span>Fecha solicitud Máquina</span>
    <input type="date" placeholder="Fecha">
    <div class="table">
        <div class="tabletd">
            <span>Hora inicio</span>
            <input type="time">
        </div>
        <div class="tabletd">
            <span>Hora fin</span>
            <input type="time">
        </div>
    </div>
    <textarea placeholder="Detalle de actividad a realizar"></textarea>
    <br>
    <span>Insumos a utilizar</span>
    <div id="box-insumos">
        <div class="insumos"><span>Insumo 1</span><em>&nbsp&nbspx</em></div>
        <div class="insumos"><span>Insumo 2</span><em>&nbsp&nbspx</em></div>
    </div>
    <div style="text-align:center">
        <button class="button1">Solicitar</button>
    </div>
</div>