<div id="pop-machineError" class="pop-up-behind">
    <div class="pop-behind-form"></div>
    <div class="pop-up">
        <header>
            <div class="button-close fa fa-times-circle fa-6" aria-hidden="true"></div>
        </header>
        <section>
            <br>
                <div class="alertIcon"></div>
                <br>
                <span>La máquina ya se encuentra reservada en la hora y fecha solicitada.<br>
                Por favor selecciona otra fecha u hora.</span>
         </section>
    </div>
</div>