<div>
    <div id="content-home">
        <h3>Tus solicitudes</h3>
        <hr align="left">
        <div class="box-request">
            <span class="font-big">Escanner 3D</span><br>
            <span class="font-small">Fecha: 12-04-2016 8:00</span>
        </div>
        <h3>Aprobadas</h3>
        <hr align="left">
        <div class="box-request">
            <span class="font-big">Cortadora</span><br>
            <span class="font-small">Fecha: 12-28-2016 17:00</span>
        </div>
    </div>
</div>