<div class="margins">
    <br>
    <div id="content-home">
        <span class="font-big">Tus solicitudes&nbsp;&nbsp;</span><i class="fa fa-clock-o" aria-hidden="true"></i>
        <br>
        <div class="box-request">
            <span class="font-big">Escanner 3D</span><br>
            <span class="font-small">Fecha: 12-04-2016 8:00</span>
        </div>
        <div class="box-request">
            <span class="font-big">Escanner 3D</span><br>
            <span class="font-small">Fecha: 12-04-2016 8:00</span>
        </div>
        <br>
        <span class="font-big">Aprobadas&nbsp;&nbsp;</span><i class="fa fa-check" aria-hidden="true"></i>
        <br>
        <div class="box-request">
            <span class="font-big">Cortadora</span><br>
            <span class="font-small">Fecha: 12-28-2016 17:00</span>
        </div>
    </div>
</div>