<div id="pop-machineError" class="pop-up-behind">
    <div class="pop-behind-form"></div>
    <div class="pop-up">
        <header>
            <div class="button-close fa fa-times-circle fa-6" aria-hidden="true"></div>
        </header>
        <section>
            <br>
                <h3 class=""><b>Cambiar contraseña</b></h3>
                <br>
                <form name="changepass">
                    <input type="password" name="" ng-model="data.password" placeholder="Nueva contraseña" ng-required="true">
                    <input type="password" name="" ng-model="data.validatePass" placeholder="Repita la nueva contraseña" ng-required="true">
                    <button class="button1" ng-click="changepass.$valid && save(data,$event)">Guardar</button>
                </form>
         </section>
    </div>
</div>